
@media screen and (min-width: 401px) {
	aside.sidebar {      
		height: 2.5em;
	}
	ul.navbar_list {
		padding-top: 0.7em;
	}
	a.inner_link:after {
		top: 0.2em;
		left:35%;
		font-size: 1rem;
	}
	
	main.content_wrapper { 
		padding-top: 2.5em;
	}
	div.portrait {
		-webkit-flex: 1 0 75vh;
		-ms-flex: 1 0 75vh;
		-webkit-box-flex: 1;
		flex: 1 0 75vh;	
		background-size: 4%;
	}
	header#site_header .flex_child  {
		-webkit-flex: 1 0.5 3.5em;
		-ms-flex: 1 0.5 3.5em;
		-webkit-box-flex: 1;
		flex: 1 0.5 3.5em;
	}
	div.introduce_myself .logo {
		-webkit-flex: 0 0 80px;
		-ms-flex: 0 0 80px;
		-webkit-box-flex: 1;
		flex: 0 0 80px;
	}
	div.introduce_myself .name {
		padding: 5% 0% 0% 6% ;	   
	}
	div.introduce_dev {
		-webkit-flex:1 0.5 4em;
		-ms-flex:1 0.5 4em;
		-webkit-box-flex:1;
		flex:1 0.5 4em;
	}
	h1.heading.whoami {
		margin: 0em auto;
	}
	header#site_header div#about_me {
		-webkit-flex:1 0 40vh;
		-ms-flex:1 0 40vh;
		-webkit-box-flex:1;
		flex:1 0 40vh;
	}
	br.brake_rights {
		display: none;
	}
	div.main_sponsor {
		margin: 1em auto;
	}
} 

@media screen and (min-width: 601px) {
	ul.navbar_list     {
		width: 90%;
		padding-top: 0.6em;
	}
	a.inner_link:after {
		top: 0.2em;
		left:30%;
		font-size: 1rem;
	}
	h1.heading.whoami {
		margin: 5vh auto;
	}
	/*header#site_header div#about_me {
		min-height: 300px;
		-webkit-flex: 1 0 8em;
		-ms-flex: 1 0 8em;
		-webkit-box-flex: 1;
		flex: 1 0 8em;

	}*/
	div.introduce_myself .logo {
		-webkit-flex: 0 0 100px;
		-ms-flex: 0 0 100px;
		-webkit-box-flex: 1;
		flex: 0 0 100px;
	}
	/*blockquote.w_blake {
		font-size: 0.9em;
		margin-top: 2em;
		margin-left: 0em;
	}*/
	h2.sponsors.heading {
		margin: 3rem auto 2rem;
		width: 90%;
	}
	div.main_sponsor {
		-webkit-flex: 0.1 0 200px;
		-ms-flex: 0.1 0 200px;
		-webkit-box-flex: 0.1;
		flex: 0.1 0 200px;
	}
	h2.contacts_heading {
		width: 90%;
		margin: 0 auto;
		padding: 1.333em 0.333em 0.666em 0.333em;
	}
	div.socials-wrapper {
		width: 80%;
		
	}
}
@media screen and (min-width: 761px) {
	aside.sidebar {       
		height: 3.5em;
	}
	ul.navbar_list     {
		width: 80%;
		padding-top: 1em;
	}
	a.inner_link:after {
		left: 35%;
		font-size: 1.2rem;
	}
	a.inner_link_contact:after {
		left:25%;
	}
	a.inner_link .fa {
		font-size: 1.8em
	}  
	main.content_wrapper { 
		padding-top: 3.5em;
	}
	section#introducing {
		min-height: -webkit-calc(100vh-3.5em);
		min-height: calc(100vh-3.5em);
		position: relative;
		-webkit-flex-flow:row-reverse nowrap;
		-ms-flex-flow:row-reverse nowrap;
		flex-flow:row-reverse nowrap;
		margin-bottom:0em;
	}
	.change_lang {
		top: 20px;
		right: 20px;
	}
	#introducing .flex_child {
		-webkit-flex: 1 0 50%;
		-ms-flex: 1 0 50%;
		-webkit-box-flex: 1;
		flex: 1 0 50%;
	}
	#introducing header#site_header {
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		-webkit-box-pack: end;
		justify-content: flex-end;
		-webkit-flex: 1 0 48%;
		-ms-flex: 1 0 48%;
		-webkit-box-flex: 1;
		flex: 1 0 48%;
		padding-left: 1em;
		padding-bottom: 0;
	}
	div.introduce_myself .name {
		padding: 8% 0% 0% 6% ;	   
	}
	div.introduce_dev {
		-webkit-flex:0.1 0 50px;
		-ms-flex:0.1 0 50px;
		-webkit-box-flex:0.1;
		flex:0.1 0 50px;
		line-height: 1.2em;
	}
	h1.heading.whoami {
		margin: 0em auto;
	}
	header#site_header div.introduce_myself {
		-webkit-flex: 0.05 0.5 3.5em;
		-ms-flex: 0.05 0.5 3.5em;
		-webkit-box-flex: 0.05;
		flex: 0.05 0.5 3.5em;
		margin-bottom: 1em;
	}
	/*header#site_header div#about_me {
		-webkit-flex:0.2 0 4em;
		-ms-flex:0.2 0 4em;
		-webkit-box-flex:0.2;
		flex:0.2 0 4em;
		margin-top: 2em;
	}*/
	/*header#site_header  blockquote.w_blake {
		-webkit-flex: 0.05 0 3.5em;
		-ms-flex: 0.05 0 3.5em;
		-webkit-box-flex: 0.05;
		flex: 0.05 0 3.5em;
		margin:4em 0 0.5em 0em;
	}*/
	div.work_scshot {
		width: 80%;
	}
	div.work_description {
		width: 70%;
	}
	div.sponsors_wrapper  {
		width: 80%;
		margin: 0 auto;
	}
	div.main_sponsor {
		-webkit-flex: 0.1 0 190px;
		-ms-flex: 0.1 0 190px;
		-webkit-box-flex: 0.1;
		flex: 0.1 0 190px;
	}
	h2.contacts_heading {
		width: 660px;
	}
	div.socials-wrapper {
		width: 600px;
	}
	h4.send_letter_head {

		padding: 1.333em 0.333em 0em;
	}
	a.send_letter_link {
		margin-top: 1em;
	}
}
@media screen and (min-width: 993px) {
	html {
		font-size: 12px;
	}
	aside.sidebar {
		width: 3.5rem;
		height: 100%;
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,83,120,1)), color-stop(24%, rgba(30,84,120,1)), color-stop(55%, rgba(36,115,171,1)), color-stop(98%, rgba(34,83,120,1)), color-stop(99%, rgba(34,83,120,1)), color-stop(100%, rgba(34,83,120,0.84)));
		background: -webkit-linear-gradient(top, rgba(34,83,120,1) 0%, rgba(30,84,120,1) 24%, rgba(36,115,171,1) 55%, rgba(34,83,120,1) 98%, rgba(34,83,120,1) 99%, rgba(34,83,120,0.84) 100%);
		background: linear-gradient(to bottom, rgba(34,83,120,1) 0%, rgba(30,84,120,1) 24%, rgba(36,115,171,1) 55%, rgba(34,83,120,1) 98%, rgba(34,83,120,1) 99%, rgba(34,83,120,0.84) 100%);
	}
	nav.menu {
		position: absolute;
		top: 40%;
		left:0em;
		height: auto;
	}
	ul.navbar_list {	
		-webkit-flex-flow: column wrap;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
		width: 100%;
		margin: 0 auto;
	}
	.navbar_list_item {
		-webkit-flex: 0.3 0 60px;
		-ms-flex: 0.3 0 60px;
		-webkit-box-flex: 0.3;
		flex: 0.3 0 60px;
	}
	a.inner_link {
		display: block;
		color: rgba(242,255,227,1);
		min-height: 50px;
	}
	a.inner_link:after {
		position: fixed;
		opacity: 0;
		width: 100%;
		left:0;
		height: auto;
		border-top:5px solid rgba(235,127,0,1);
		padding-top: 1.663em;
		line-height: 2.5em; 
		/* It blow my mind when i suddenly realized 
		that i have to use line-height to pull the content*/
		letter-spacing: 1px;
		-webkit-transform: translateX(-100px);
		-ms-transform: translateX(-100px);
		transform: translateX(-100px);
		-webkit-transition: all 500ms ease;
		transition:all 500ms ease;
	}
	a.inner_link:nth-of-type(1):after {
		top:10%;
		left:0;
		-webkit-writing-mode: vertical-lr;
		-ms-writing-mode: tb-lr;
		writing-mode: vertical-lr;
		text-orientation: upright;
	}
	a.inner_link:hover:after,
	a.inner_link:active:after,
	a.inner_link:focus:after
	{
		opacity: 1;
		-webkit-transform: translateX(0px);
		-ms-transform: translateX(0px);
		transform: translateX(0px);
		border-bottom:0;
	}	
	a.inner_link .fa {
		text-align: center;
		font-size: 2em
	}
	main.content_wrapper { 
		padding-top: 0;
		padding-left: 3.5em;
	}
	section#introducing {
		min-height: 100vh; 
	}
	.change_lang {
		position: fixed;
		top: 15px;
		left: 1px;
		right: auto;
		z-index: 300;
		width: 35px;
		height: 40px;
		padding-top: 5px;
		background:rgba(34,73,105,1);
		border:1.5px solid rgba(34,83,125,1);
		border-radius: 3px;
	}
	.change_lang_link {
		font-size: 1.543rem;
	}
	div.introduce_dev {
		min-height: 50px;
	}
	header#site_header div#about_me {
		margin-top: 16px;
		min-height: 250px
	}
	div.introduce_myself .name {
		padding: 5% 0% 1% 6% ;	   
	}
	div.my_work.flex_parent {
		width: 94%;
		margin: 1em auto 3em;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-webkit-flex-flow:row nowrap;
		-ms-flex-flow:row nowrap;
		flex-flow:row nowrap;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		-webkit-box-pack: justify;
		justify-content: space-between;
		-webkit-align-items: center;
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;		
	}
	div.work_scshot {
		width: auto;
		-webkit-flex: 0 0 450px;
		-ms-flex: 0 0 450px;
		-webkit-box-flex: 0.1;
		flex: 0 0 450px;
		max-height: 400px;
	}
	div.work_description {
		width: auto;
		-webkit-flex: 0 0 350px;
		-ms-flex: 0 0 350px;
		-webkit-box-flex: 0;
		flex: 0 0 350px;
	}
	h2.sponsors.heading {
		margin-bottom: 0.5em;
	}
	div.sponsors_wrapper {
		width: 94%;
		margin: 0em auto 3em;
	}
	div.main_sponsor {
		-webkit-flex: 0.3 0 100px;
		-ms-flex: 0.3 0 100px;
		-webkit-box-flex: 0.3;
		flex: 0.3 0 100px;
	}
	a.sponsor_link-6 {
		background-position: 35% 50%;
	}
	div.contacts_wrapper.flex_parent  {
		-webkit-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		margin-bottom: 3.33em;
	}
	div.contacts_wrapper .flex_child {
		-webkit-flex: 0 0 400px;
		-ms-flex: 0 0 400px;
		-webkit-box-flex: 0;
		flex: 0 0 400px;
	}
	h2.contacts_heading {
		width: 90%;
		margin: 0 auto;
		padding: 1.333em 0.333em 0.666em 0.333em;
	}
	div.socials-wrapper {
		width: 80%;
		margin: 5vh auto;
	}
	a.social_link {
		font-size: 1.2em;
	}
	a.social_link .fa {
		margin: 23% auto;
	}
	a.send_letter_link {
		position: relative;
	}
	a.send_letter_link:after {
		position: absolute;
		content: "vitalii.parshikov@gmail.com";
		display: block;
		bottom:-45px;
		left:-70px;
		color: rgba(255,255,255,1);	
	}
	.arrow .fa {
		font-size: 1.6em;	
		margin: 25% auto;
	}
}
@media screen and (min-width: 1201px) {
	header#site_header  div#about_me {
		margin-top: 0.66em;
		-webkit-flex: 0.1 0 3em;
		-ms-flex: 0.1 0 3em;
		-webkit-box-flex: 0.1;
		flex: 0.1 0 3em;
		padding-right: 15%;
	}
	div.work_scshot {
		width: auto;
		-webkit-flex: 0.15 0 500px;
		-ms-flex: 0.15 0 500px;
		-webkit-box-flex: 0.15;
		flex: 0.15 0 500px;
		max-height: 400px;
	}
	div.work_description {
		width: auto;
		-webkit-flex: 0 0 450px;
		-ms-flex: 0 0 450px;
		-webkit-box-flex: 0;
		flex: 0 0 450px;
		font-size: 1.2rem;
	}
	div.work_description img {
		margin-bottom: 1.66em;
	}
	div.work_description p {
		line-height: 1.8em;
	}
	div.sponsors_wrapper {
		width: 80%;
	}
	div.main_sponsor {
		-webkit-flex: 0.1 0 150px;
		-ms-flex: 0.1 0 150px;
		-webkit-box-flex: 0.1;
		flex: 0.1 0 150px;
	}
	.copyright_block .arrow {
		top: -3.1em;
		right: 15%;
		width: 45px;
		height: 45px;
	}
	.arrow .fa {
		font-size: 2em;
		color: rgba(0,0,0,0.8);
		margin: 22% auto;
	}
}
@media screen and (min-width: 1601px) {
	aside.sidebar {       
		width: 4.5em;
	}
	.navbar_list_item {
		-webkit-flex: 0.5 0 70px;
		-ms-flex: 0.5 0 70px;
		-webkit-box-flex: 0.5;
		flex: 0.5 0 70px;
	}
	a.inner_link:after {
		line-height: 3em;
	}
	a.inner_link .fa {
		font-size: 2.2em
	}            
	main.content_wrapper { 
		padding-left: 4.5em;
	}
	.change_lang {
		position: fixed;
		top: 15px;
		left: 3px;
		right: auto;
		z-index: 300;
		width: 35px;
		height: 40px;
		padding-top: 5px;
		background:rgba(34,73,105,1);
		border:1.5px solid rgba(34,83,125,1);
		border-radius: 3px;
	}
	.change_lang_link {
		font-size: 1.543rem;
	}
	header#site_header {
		padding-right: 0em;
	}
	header#site_header div.introduce_myself {
		margin-bottom: 3em;
	}
	div.introduce_dev {
		-webkit-flex:0.1 0 10px;
		-ms-flex:0.1 0 10px;
		-webkit-box-flex:0.1;
		flex:0.1 0 10px;
		line-height: 1.2em;
		margin-bottom: 1em;
	}
	div.introduce_myself .name {
		padding: 4% 0% 5% 6% ;	   
	}
	header#site_header  div#about_me {
		-webkit-flex: 0.1 0 2em;
		-ms-flex: 0.1 0 2em;
		-webkit-box-flex: 0.1;
		flex: 0.1 0 2em;
		padding-right: 25%;
	}
	div.my_work.flex_parent {
		margin-bottom: 15vmax;
	} 
	div.work_scshot {
		
		-webkit-flex: 0.25 0 500px;
		-ms-flex: 0.25 0 500px;
		-webkit-box-flex: 0.25;
		flex: 0.25 0 500px;
	}
	div.work_description {
		-webkit-flex: 0.3 0 450px;
		-ms-flex: 0.3 0 450px;
		-webkit-box-flex: 0.3;
		flex: 0.3 0 450px;
		font-size: 1.2rem;
	}
	div.work_description p{
		line-height: 1.8em;
	}	
}
